<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script src="/jquery.js"></script>
	<script src="/bootstrap.js"></script>
	<script src="/ajax-cat.js"></script>
	
	
	<title>AJAX-CAT | admin</title>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">AJAX-CAT | admin</a>
          <div class="nav-collapse">
            <ul class="nav">
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container-fluid">
      <div class="row-fluid">
        <h1>A/B tests</h1>

        <table class="table table-bordered table-striped table-condensed" id="translation-list">
        	<tr><th>Test</th><th></th></tr>
        	<% Task.all.each do |task| %>
        		<tr>
        			<td>
                <a href="/experiment/<%= task.id %>">
                  <%= task.name %> (<%= task.pair %>)
                </a>
              </td>
        			<td><form method="post" action="/admin/remove_task?id=<%= task.id %>">
        					<input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Really want to delete this test?')">
        				</form>
        			</td>
        		</tr>
        	<% end %>
        </table>

        <h1>Create new A/B test</h1>

        <form class="well form-horizontal" method="post" action="/admin/add_task">

          <div class="control-group">
            <label class="control-label" for="new-translation-name">Name of test: </label>
            <div class="controls">
              <input id="new-experiment-name" name="name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="new-experiment-pair">Language: </label>
            <div class="controls">
          	<select id="new-experiment-pair" name="pair">
          		<% @pairs.each do |pair| %>
          			<option values="<%= pair %>"><%= pair %></option>
          		<% end %>
  		      </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="new-experiment-sentence">Sentences: </label>
            <div class="controls">
              <span id="sentences-stack">
                <input id="new-experiment-sentence" name="sentences[]">
              </span>
              <br>
              <a href="#" onclick="$('#sentences-stack').append('<br><input name=\'sentences[]\'>')">add sentence</a>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">A/B groups: </label>
            <div class="controls">
              <table class="table table-bordered">
                <tr><th></th><th>A</th><th>B</th></tr>

                <tr><td>Test user group size<br>(use even numbers)</td>
                  <td colspan="2">
                    <center><input type="number" name="users" value="6" step="2" min="2" max="1000000"></center>
                  </td>
                </tr>

                <tr><td>Suggestion box present</td>
                  <td><input type="checkbox" checked name="suggestion-a"></td>
                  <td><input type="checkbox" checked name="suggestion-b"></td>
                </tr>

              </table>
            </div>
          </div>

          <div class="form-actions">
				    <button type="submit" class="btn btn-success">Create A/B test</button>
          </div>
				</form>

      </div><!--/row-->

      <hr>

      <footer>
        <p>Created by Ondřej Odcházel & Ondřej Bojar - <a href="http://ufal.mff.cuni.cz/">Institute of Formal and Applied Linguistics</a>, 
Charles University in Prague<br>
Supported by the grant:
FP7-ICT-2007-3-231720 (EuroMatrix Plus)</p>
      </footer>

    </div>



</body>
</html>
